{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% if message %}
    <div class="message">
        <p>{{ message }}</p>
    </div>
{% endif %}

<script>
    var flash_message = document.querySelector(".message");
    setTimeout(function(){
        // set the style of the element to display nothing so it can disappear
        // its like saying display:none in CSS
        flash_message.style.display = "none";
    }, 5000);

    var flashes = document.querySelector(".flashes");
    setTimeout(function(){
        // set the style of the element to display nothing so it can disappear
        // its like saying display:none in CSS
        flashes.style.display = "none";
    }, 5000);
</script>