<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Books Library</h1>
    {% if not books %}
        <p>No books available</p>
    {% else %}
        <ul>
            {% for book in books %}
                <li><a href="{{ url_for('delete', id=book.id) }}">Delete</a>  {{ book }}  <a href="{{ url_for('editRating', id=book.id) }}">Edit Rating</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    <a href="{{ url_for('addBook') }}">Add Book</a>
</body>
</html>