{% extends 'base.html' %}

{% block page %}Blog Title{% endblock %}

{% block css_links %}
    <link rel="stylesheet" href="../static/styles/blog_content/blog.css" media="screen and (max-width: 2000px)">
    <link rel="stylesheet" href="../static/styles/blog_content/blog.css" media="screen and (max-width: 768px)">
    <link rel="stylesheet" href="../static/styles/blog_content/blog.css" media="screen and (max-width: 480px)">

    <link rel="stylesheet" href="../../static/styles/form/blog-form.css" media="screen and (max-width: 2000px)">

{% endblock %}

{% block styles %}
    <style>
        #post-hero {
            height: 70vh;
            width: 100%;
            background-image: url('{{ blog.image_url }}');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: 0% 50%;
            position: relative;
        }
    </style>
{% endblock %}


{% block content %}

    <!-- HERO SECTION -->
    <section id="post-hero">
        <div class="content">
            {% include 'constants/navbar.html' %}

            <div class="edit-delete-buttons">
                <a href="{{ url_for('editBlog', id=blog.id )}}" class="edit"><i class="fa-solid fa-pencil"></i>  Edit</a>
                <a href="{{ url_for('deleteBlog', id=blog.id )}}" class="delete"><i class="fa-solid fa-trash"></i>  Delete</a>
            </div>
            
            <div class="post-hero-content">
                <h1>{{ blog.title }}</h1>
                <h2>{{ blog.subtitle }}</h2>
                <h4>Posted on {{ blog.date }}</h4>
            </div>
        </div>
    </section>
    <!-- END HERO SECTION -->

    <!-- BLOG CONTENT -->
    <section id="post-content">
        {{ blog.blog_content|safe }}
    </section>

    <hr><br>

    <!-- END BLOG CONTENT SECTION -->

    <!-- COMMENTS SECTION -->
    <section id="comments-section">
        <form action="#" class="form">
            <div class="form-field">
                {{ form.comment.label }}
                {{ form.comment }}
            </div>
            
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            
            {{ form.submit }}

            {% include 'constants/flash_messages.html' %}
        </form>

        <!-- People's comments -->
        <p>No comments yet. Add a comment.</p>

    </section>
    <!-- END COMMENTS SECTION -->

    {% include 'constants/footer.html' %}


{% endblock %}

