{% extends 'base.html' %}

{% block page %}My Blogs{% endblock %}

{% block css_links %}
    <link rel="stylesheet" href="../static/styles/index/index.css" media="screen and (max-width: 2000px)">
    <link rel="stylesheet" href="../static/styles/index/index.css" media="screen and (max-width: 768px)">
    <link rel="stylesheet" href="../static/styles/index/index.css" media="screen and (max-width: 480px)">

    <link rel="stylesheet" href="../static/styles/my_blogs/blogs.css" media="screen and (max-width: 2000px)">
    <link rel="stylesheet" href="../static/styles/my_blogs/blogs.css" media="screen and (max-width: 768px)">
    <link rel="stylesheet" href="../static/styles/my_blogs/blogs.css" media="screen and (max-width: 480px)">
{% endblock %}

{% block content %}

    <!-- HERO SECTION -->
    <section id="blog-hero">
        <div class="content">
            {% include 'constants/navbar.html' %}

            <div class="blog-hero-content">
                <h1>Blogs written by you</h1>
            </div>
        </div>
    </section>
    <!-- END HERO SECTION -->

    <!-- BLOG LIST SECTION -->
    <section id="blog-list">
        {% include 'constants/flash_messages.html' %}

        {% if user_blogs %}
            {% set blogs_list =  user_blogs|list %}

            {% for blog in blogs_list|reverse %}
                <div class="blog">
                    <a class="blog-title" href="{{ url_for('getBlog', id=blog.id) }}">{{ blog.title }}</a>
                    <p class="blog-subtitle">{{ blog.subtitle }}</p>
                    <p class="attribution">Posted by <b><em>you</em></b> on <em>{{ blog.created }}</em></p>

                    <div class="edit-delete-buttons">
                        <a href="{{ url_for('editBlog', id=blog.id) }}" class="edit"><i class="fa-solid fa-pencil"></i>  Edit</a>
                        <a href="{{ url_for('deleteBlog', id=blog.id )}}" class="delete"><i class="fa-solid fa-trash"></i>  Delete</a>
                    </div>

                    <hr color="red">
                </div>
            {% endfor %}
<!-- 
            <div class="more-button">
                <p>Older Posts  <i class="fa-solid fa-arrow-right"></i></p>
            </div> -->
        {% else %}
            <div class="no-blog">
                <p>You have no blog posts yet. Click <a href="{{ url_for('addBlog') }}">here</a> to add.</p>
            </div>
        {% endif %}
    </section>


    <!-- END BLOG LIST SECTION -->

    {% include 'constants/footer.html' %}

    {% block script %} <script src="../static/script/animations.js"></script> {% endblock %}

{% endblock %}

