{% extends 'base.html' %}

{% block page %}Add Blog{% endblock %}

{% block css_links %}
    <link rel="stylesheet" href="../../static/styles/form/blog-form.css" media="screen and (max-width: 4000px)">
    <link rel="stylesheet" href="../../static/styles/form/blog-form.css" media="screen and (max-width: 768px)">
    <link rel="stylesheet" href="../../static/styles/form/blog-form.css" media="screen and (max-width: 480px)">
{% endblock %}

{% block content %}

    <!-- HERO SECTION -->
    <section id="blog-form-hero">
        <div class="content">
            {% include 'constants/navbar.html' %}

            <div class="blog-form-hero-content">
                <h1>New Blog Post</h1>
            </div>
        </div>
    </section>
    <!-- END HERO SECTION -->

    <!-- BLOG FORM SECTION -->
    <section id="form-container">

        <form action="{{ url_for('addBlog') }}" method="post" class="form">
            {{ form.hidden_tag() }}
            
            <div class="form-field">
                {{ form.title.label }}
                {{ form.title }}
            </div>

            <div class="form-field">
                {{ form.subtitle.label }}
                {{ form.subtitle }}
            </div>

            <div class="form-field">
                {{ form.image_url.label }}
                {{ form.image_url }}
            </div>

            <div class="form-field">
                {{ form.blog_content.label }}
                {{ form.blog_content }}
            </div>

            {{ ckeditor.load() }}
            {{ ckeditor.config(name='blog_content', width=1200, height=500) }}
            
            {{ form.submit }}
            {% include 'constants/flash_messages.html' %}
            
        </form>
    </section>
    
    <!-- END BLOG FORM SECTION -->

    {% include 'constants/footer.html' %}

{% endblock %}

